.card{
    display: inline-block;
}

.productCard{
    display: grid;
    grid-template-rows: 85% auto;
    row-gap: 10px;
    width: 15vw;
    height: 50vh;

    font-family: 'Dubai';
}

.productImage{
    overflow: hidden;
    background-color: #b6b6b6;
}

.productImage > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.productInfo{
    display: grid;
    grid-template-columns: 80% 20%;
}

.pTitle{
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
}

.pPrice{
    font-size: 100%;
}

.addToCart{
    font-size: 2em;
    color: palevioletred;
    border: 2px solid palevioletred;
    border-radius: 10px;
    text-align: center;

    transform-origin: center;
    transition: 0.3s;
}

.addToCart:hover{
    cursor: pointer;
    transform: scale(1.3);

    color: white;
    background-color: palevioletred;
    border-color: white;
}